img {
  object-fit: contain;
  height: 200px;
}

.card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.list:hover {
   background-color: #ff5159;
   color: #FFF;
}

.divIconCart {
  background-color: #ff5159;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin-left: 80%;
  margin-top: -25%;
}

.divIconCart i {
  margin-top: 12px;
}

.navBarIcons i {
  margin-top: 19px;
}
.divIconCart:hover {
  background-color: #ff889d;
}

.prices {
  font-weight: 600;
}

.price {
  color: gray;
  font-size: 1.2rem;
  font-weight: normal;
}

.buttonRanges {
  align-items: center;
  background-color: #FF5159;
  border: none;
  color: #FFF;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  margin-top: 1rem;
  width: 86%;
}

.buttonRanges:hover {
  background-color: #FF889D;
}

.buttonRanges p {
  font-size: 1.5rem;
  margin: 0;
}

.buttonRanges i {
  margin-left: .75rem;
}
/* / RESPONSIVE
   ========================================================================= / */

/* / Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- / */
@media (min-width: 300px) {
  .navBarIcons {
    margin-left: 50%;
    /* border-style: solid;
    border-color: yellow; */
  }
}

/* / Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- / */
@media (min-width: 1024px) {
}

/* / Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .navBarIcons {
    margin-left: 90%;
    /* border-style: solid;
    border-color: yellow; */
  }
}
